[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "banxicoR"]
	path = banxicoR
	url = https://github.com/eflores89/banxicor
[submodule "inegiR"]
	path = inegiR
	url = https://github.com/eflores89/inegir
[submodule "nasadata"]
	path = nasadata
	url = https://github.com/eflores89/nasadata
[submodule "notionR"]
	path = notionR
	url = https://github.com/eflores89/notionr
